[Unit]
Description=Mollo Autonomo
After=network.target

[Service]
WorkingDirectory=/opt/mollo-telegram
ExecStart=/opt/mollo-telegram/venv/bin/python /opt/mollo-telegram/tareas.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
